<% @title="In Balans" %>
<br>
<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-6">
    <h1 class="page-header text-center font-size: 30px">Cursus: In Balans</h1>

    <div class="caption">
      <p class="section-lead" style="font-size:20px">Wat is In Balans?</p>
    <p class="section-paragraph"> In Balans is een groepsles voor 65-plussers waarin
    ouderen leren  hoe ze de kans op vallen kunnen verkleinen. Ze leren dit door de
    gevaren in en om het huis te herkennen en hun evenwicht te  verbeteren door
    middel van oefeningen. Een groep bestaat uit  6-8 personen. De cursus wordt
    verdeeld over 3 lessen van elk 2 uur. In de cursus wordt gewerkt aan
    bewustwording van risicofactoren voor vallen, verbetering van de balans,
    mobiliteit en toename van zelfvertrouwen en ontspanning tijdens het algemeen
    dagelijks leven (ADL).
    </p>
    <br>
    <p class="section-lead" style="font-size:20px">Voor wie?</p>
    <p>
      De cursus is gericht op zelfstandig wonende ouderen van 65 jaar en ouder.
      Met name voor mensen die zich onzeker voelen tijdens het lopen, bang zijn om
      te vallen of zelfs al gevallen zijn.
      (pre-frail -> enigszins kwetsbaar).
    </p>
    <br>
    <p class="section-lead" style="font-size:20px">Data & tijd</p>
    <p>
      Op <u>20</u> april van <u>15:00-16:00 uur </u>is er een informatiemiddag (gratis).
      De cursusdata zijn: <u>4 mei, 11 mei en 18 mei</u> van <u>14:30-16:30 uur</u>.
    </p>
    <br>
    <p class="section-lead" style="font-size:20px">Wat zijn de kosten?</p>
    <br>
    <p>
    De prijs van de cursus is € 50,- (deze worden <b>volledig vergoed </b>vanuit het
     aanvullend pakket van uw zorgverzekering)
    </p>
    <br>
    <p class="section-lead" style="font-size:20px">Inschrijven</p>
    <p>
    Aanmelden voor de informatiemiddag is <u>niet</u> nodig! U kunt zich aanmelden
    voor de cursus door te mailen naar Richard@cesarwise.nl of te bellen naar
    Truus van Otterdijk: (0493) 44 12 46.
    </p>
    <br>

    <p class="section-lead" style="font-size:20px">Het programma</p>
    <p>
    De cursus bestaat uit 3 bijeenkomsten van 2 uur. Deze bestaan
    uit 50% theorie en 50% praktijk. In het theorie gedeelte worden
    de deelnemers bewust gemaakt van de valrisico factoren,
    oorzaken van balansverstoringen en krijgen ze tips en adviezen
    voor het voorkomen van een val.
    Het beweegprogramma is gericht op het verbeteren van de algehele fitheid,
    spierkracht en balans en biedt gerichte training voor opstaan en lopen.
    </p>
    <br>
    <p class="section-lead" style="font-size:20px">Waarom In Balans?</p>
    <p>
    Uit onderzoek is bekend dat beweegprogramma’s die gericht zijn op het verbeteren van balans,
    spierkracht en mobiliteit  het meest effectief blijken om valrisico’s te verkleinen.
    In Balans is erkend door het Centrum Gezond Leven (RIVM/CGL).
    In Balans is ontwikkeld op basis van kennis uit wetenschappelijk onderzoek naar
    effectieve valpreventie. Uit onderzoek blijkt dat ouderen na het volgen van de
    cursus maar liefst 61% minder kans maken om te vallen en dat hun valangst met 37% afneemt.
    </p>
    <br>

    <p>
    De cursus wordt gegeven in samenwerking met
    <%=link_to 'Onis', 'http://www.oniswelzijn.nl' %>. Voor meer informatie over
    de cursus of de samenwerking kunt u contact opnemen met
      <%=link_to 'CesarWise', home_contact_path %>
    of kijken op de website van :
    <%= link_to 'www.Veiligheid.nl', 'https://www.veiligheid.nl' %>
    </p>
  </div>
    <br>
    <%=   link_to image_tag("onis.png"), 'http://www.oniswelzijn.nl'%>
  </div>
  <div class="col-lg-1">
  </div>

  <div class="col-lg-3 text-center">
    <br><br><br><br><br><br>


    <h4 class="section-lead text-center"></h4>
      <%=   image_tag("Balans.png")%>
    </div>
  </div>
  <br><br><br><br><br>
